# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment secrets
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local

# Logs
*.log
npm-debug.log*

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
